/* Variables */

:root {

}

/* Grid */

body {
  background: #fafafa;
	color: #222222;
	font-family: helvetica, sans-serif;
}

.header, .main, .secondary, .footer {
  display: grid;
  grid-template-columns:
    minmax( 1rem, 1fr )
    repeat( 12, minmax( 1em, 2em ) )
    minmax( 1rem, 1fr );
  grid-column-gap: 2%;
  padding: 2em 0;
}

.title, .performers, .info, .host {
	grid-column: 2 / span 12;
}

/* Typography */

h1, h2, h3, h4, h5, h6, p {
	font-size: 1.2em;
	font-weight: bold;
}
